@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
* {
	margin: 0;
}
body {
	font-family: 'Kalam', cursive;
	background: linear-gradient(to right, #eecda3, #ef629f);
}

button {
	cursor: pointer;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
